# emacs stuff
[#]*[#]
.\#*
.dir-locals.el
.envrc
*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
/flowou_evals/
cache/
logs
demo_in
demo_out
Makefile
/train_files_lists/
/runs/
tapvid_davis
/davis_dino
/kinetics_dino
/tapvid_benchmark
/raw_video
/visualization
/picture
/flow_vis
/teaser
/ablation
/onepoint